.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #004d99; */
    background-color: #142d4c;
    padding: 15px 20px;
    height:50px;
  }
  
  .logo {
    color: #ffe5b4;
    font-size: 24px;
    font-weight: bold;
  }
  

  
  .nav-links {
    display: flex;
    gap: 35px; /* Adds space between links */
  }
  
  .nav-links a {
    text-decoration: none; /* Removes underline */
    color: #ffe5b4; /* Warm beige text */
    font-size: 18px;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-links a:hover {
    color: #ffcc80; /* Warmer shade on hover */
  }
  